.menuuu{
	margin-bottom: 15px;
	margin-right: 7px;
    margin-left: 300px;
    margin-top: 70px; 
}

.menus{
	width: 290px;
	margin-top: 80px;
	margin-left: 11px;
	filter: grayscale(20%);
}